/* .form {
  background-image: url("../images//form-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */
